header{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: black;
  color: aliceblue;
}

.site-nav{
  list-style-type: none;
  display: flex;
}

.site-nav li + li{
  margin-left: 10px;
}

.site-nav li > a{
  color: #fff;
  text-decoration: none;
}